In [1]:
import sys
import tensorflow.keras
import tensorflow as tf
import numpy as np
print(f"Tensor Flow Version: {tf.__version__}")
print(f"Keras Version: {tensorflow.keras.__version__}")
print()
print(f"Python {sys.version}")
gpu = len(tf.config.list_physical_devices('GPU'))>0
print("GPU is", "available" if gpu else "NOT AVAILABLE")

Tensor Flow Version: 2.9.1
Keras Version: 2.9.0

Python 3.10.4 | packaged by conda-forge | (main, Mar 30 2022, 08:38:02) [MSC v.1916 64 bit (AMD64)]
GPU is available

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import pandas as pd
from sklearn.model_selection import train_test_split
import cv2 as csv
import numpy as np

In [3]:
house_price = pd.read_csv("C:/Users/lavia/Desktop/machine_learning/data/house_price/data.csv")
house_price.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
y = house_price.price
features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 
                'floors', 'waterfront', 'view', 'condition', 'sqft_above', 
                        'sqft_basement', 'yr_built', 'yr_renovated']
x = house_price[features]

In [5]:
train_x, train_y, test_x, test_y = train_test_split(x, y, random_state=1)

In [6]:
linear_model = LinearRegression()
forest_model = RandomForestRegressor(random_state=1)

In [7]:
x.shape

(4600, 12)

In [9]:
y.shape

(4600,)

In [32]:
linear_model.fit(x, y)
linear_model.predict(train_x)

array([ 339342.01891848,  399386.81755748, 1284108.80961712, ...,
        408003.2593191 ,  872467.39619959,  445439.09587042])

In [47]:
forest_model.fit(x, y)
forest_model.predict(train_x)

array([291733.95714286, 286966.65999979, 923609.44      , ...,
       335331.5       , 777663.        , 464749.        ])

In [49]:
model = tf.keras.models.Sequential([tf.keras.layers.Flatten(), 
                                    tf.keras.layers.Dense(128, activation=tf.nn.relu),
                                    tf.keras.layers.Dense(10, activation=tf.nn.softmax)])

In [51]:
model.compile(optimizer = tf.keras.optimizers.Adam(),
                    loss = 'sparse_categorical_crossentropy',)

In [56]:
model.fit(train_x, test_x, epochs=10)

Epoch 1/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 2/10
108/108 [==============================] - 0s 1ms/step - loss: nan
Epoch 3/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 4/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 5/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 6/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 7/10
108/108 [==============================] - 0s 1ms/step - loss: nan
Epoch 8/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 9/10
108/108 [==============================] - 0s 2ms/step - loss: nan
Epoch 10/10
108/108 [==============================] - 0s 2ms/step - loss: nan

In [57]:
model.evaluate(train_y, test_y)

36/36 [==============================] - 0s 1ms/step - loss: nan

nan